/vendor/
/.idea/
/.vscode/
/.phpunit.result.cache
/.phpstan-cache/
/.pestphp-results.cache
/build/
/coverage/
.DS_Store
.env
phpunit.xml

# If you prefer to exclude composer.lock for libraries
# composer.lock
